html, body {
    height: 100%;
    width: 100%;

    background: black;
    margin: 0;
}

#game {
    height: 100vmin;
    width: 100vmin;
    position: absolute;
    top: 50%;
    left: 50%;

    cursor: url(../image/lips.png) 16 10, auto;
    margin: -50vmin 0 0 -50vmin;
}
